# Virtual environment
.venv/
venv/
env/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Test and coverage artifacts
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/

# Editor/IDE specific files
.idea/
*.swp

# Logs and temporary files
*.log
pip-log.txt
pip-delete-this-directory.txt

# Version control
.git
.gitignore

# Environment variables and secrets
.env
.aws
